
{% include 'client/head.html.twig' %}

{% block body %}
    <h1>Client login</h1>

    <form method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="phone-login" placeholder="phone" />
        </div>
    </form>
{% endblock %}

{% include 'client/footer.html.twig' %}