{% extends 'base.html.twig' %}

{% block title %}New LessonType{% endblock %}

{% block body %}
    <h1>Create new LessonType</h1>

    {{ include('lesson_type/_form.html.twig') }}

    <a href="{{ path('lesson_type_index') }}">back to list</a>
{% endblock %}